\documentclass[10pt,twoside,english]{root/support/latex/sbabook/sbabook}
\usepackage{import}
\subimport{root/support/latex/}{common.tex}

\usepackage{relsize}

\title{%
GitHub API Bindings for Pharo\newline {\smaller{}Developer Documentation}
}
\author{%
Skip Lentz
}

\begin{document}
\maketitle{}
\tableofcontents{}
{{{content}}}

\end{document}
